<div class="home">

<h1 id="welcome">welcome to our movie database</h1>

<h2 id="middle">
    To see all Upcoming Movies,
    <br> 
    <a id="linkToMovies" href="/movies">Click here</a>
</h2>

<p id="credits">Created by raeesa, harmony & talal</p>

</div>