{{!-- <div>
 {{#each obj}}
    <a href="/movieinfo/{{@key}}">
    <div class="cover">
        <h2>{{title}}</h2>
    </div>
    </a>

    {{/each}}

</div> --}}

<h1>Upcoming Movies</h1>
<ul>
    <li>Movie: {{title}}</li>
    <li>Poster: {{image}}</li>
    </ul>