<h1>Upcoming Movies</h1>

<div id="movie-container">

{{#each movies}}

    <a href="/movies/{{@key}}">

    <h2>{{title}}</h2>

    <div class="cover">
        <img src="{{image}}"">
    </div>

    </a>
    
{{/each}}

</div>