<h1>Upcoming Movies</h1>

<div class="movieContainer">
    {{#each movies}}
        <div class="eachMovie">
            <a id="movieLink" href="/movies/{{@key}}">
                <h2 id="movieTitle">{{title}}</h2>
                <img id="moviePoster" src="{{image}}">
            </a>
        </div>
    {{/each}}
</div>