html, body {
    background-color: #0B090A;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    font-family: 'Encode Sans SC', sans-serif;
}

#navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 5px 5px 5px 5px;
    background-color: #D3D3D3;
    height: 5%;
}

.nav-item > a {
    text-decoration: none;

}

.home {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 40px;
   margin: 20px;
}

#welcome {
    padding-top: 30px;
    font-size: 60px;
}

#middle {
    padding-top: 50px;
    font-size: 45px;
}

#linkToMovies {
    font-size: 42px;
}

#credits{
    padding-top: 50px;
}

h1{
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    color: #660708;
}

h2 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
}

p {
    font-size: 30px;
    color: #660708;
}

ul{
    font-size: 30px;
    list-style-type: none;
}

a {
    color: #660708;
    text-decoration: none;
}

.movieContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 14px 14px 14px 14px;
    
}

.eachMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #F5F3F4;
    padding: 15px;
    font-size: 25px;
    text-align: center;
}

a:hover {
    text-shadow: 12px 12px 10px #370617;
}

.movieInfoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}